@{
    ViewData["Title"] = "Js Info";
}
<h3 class="center">@ViewData["Title"]</h3>


    <p class="alert-danger">What is JavaScript?</p>
    <ul class="alert-success">
        <li>Object Oriented Script Language</li>
        <li>LightWeight</li>
        <li>ClientSide</li>
        <li>CrossPlatform</li>
        <li>Syntax</li>
        <li>Case Sensitive: 100%</li>
    </ul>



<p class=" alert-danger">Usages of JS</p>
<ul class="alert-success">
    <li>Client Side Validation</li>
    <li>Dynamic DropDown List (Database API , Web Services , WCF-- windows communication Foundation)</li>
    <li>Date Time</li>
</ul>

<hr  />
<hr  />

<h4>OOP</h4>
<p class="alert-danger">Basic Featurs in OOP</p>
<ol class="alert-success" start="1">
    <li>Inheritance</li>
    <li>Polymorphism</li>
    <li>Encapsulation : Re-use(project) </li>
    <li>Abstraction</li>
</ol>


<p class="alert-danger">Part of Polymorphism </p>
<ol class="alert-success" start="1">
    <li>Oveloading :Same Name , Different Parameters or datatypes  </li>
    <li>Overriding :Same Name , same Parameters or datatypes different codes , with word Override to indicate this function</li>
</ol>
<hr />
<hr />
<p class="alert-danger">Ways to write Js with HTML </p>
<ol class="alert-success" start="1">
    <li>External  </li>
    <li>Internal : In last of body</li>
    <li>Inline</li>
</ol>

<h4>Explantion of Overriding</h4>
<img src="~/Images/overriding-in-C-1.png" />
<hr />
<hr />
<h4 class="alert-dark">
    Placing scripts at the bottom of the body 

    element improves the display speed,

    because script interpretation slows down the display.
</h4>

<hr />
<hr />
<img src="~/images/interface-vs-abstract-class-1024x1024.png" class="img-fluid" height="200px" width="400px" />