@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<p>
    Welcome
</p>


<div class="container text-center" >
    <form class="border-2 text-center border-danger border p-3" style="width:500px;height:300px">
    <div class="mb-2">
            <label>
                First Name:
            </label>
            <input placeholder="your first name" type="text" />
    </div>

        <div class="mb-2">
            <label>
                    Last Name:
            </label>
            <input placeholder="your last name" />
    </div>

        <div class="mb-2">
            <label>
                PassWord:
            </label>
            <input placeholder="Enter password" type="password" />
        </div>


        <button class="btn btn-primary">SignUp</button>

</form>


</div>